# test生成物
test.md
test.pdf
test.docx
test.html

# 忽略Python字节码缓存目录及文件（全局生效）
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略所有.egg-info/.egg.info构建目录
*.egg-info/
*.egg.info/


dist/python_m2x-0.1.2-py3-none-any.whl
dist/python_m2x-0.1.2.tar.gz